
@{
    ViewBag.Title = "View_Baig";
}

<h2>View_Baig</h2>

<h1>Single Data</h1>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.CurrentDate</h3>

<hr />

<h1>Array</h1>

<ul>
    @{
        foreach (string i in ViewBag.language)
        {
            <li>@i</li>
        }
    }
</ul>

<hr />

<h1>List</h1>
<ul>
    @{
        foreach (string i in ViewBag.fruits_list)
        {
            <li>@i</li>
        }
    }
</ul>

<hr />
<h1>Object</h1>

@{
    var data = ViewBag.Employee_Details;

}

<ul>
    <li>@data.EmployeeId</li>
    <li>@data.EmployeeName</li>
    <li>@data.EmployeeDesig</li>
</ul>

<hr />
<h1>Message can be accessed both ViewData & ViewBag</h1>

<h3>Message through ViewBag : @ViewBag.commonmessage</h3>
<h3>Message through ViewData : @ViewData["commonmessage"]</h3>
